<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Llista de Seleccions - Projecte OVI</title>
  <!-- Afegit Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="main-header">
  <div class="logo"><strong>Gestió OVI</strong></div>
  <div class="user-zone">
    <div th:if="${session.usuario == null}">
      <a th:href="@{/login}" class="btn-login">Iniciar Sesió</a>
    </div>
    <div th:if="${session.usuario != null}">
      <span class="user-greeting">Hola, <span th:text="${session.usuario.nom}"></span></span>
      <a th:href="@{/logout}" class="btn-logout">Tancar Sesió</a>
    </div>
  </div>
</header>
<main class="main-content">
  <h1>Llista de Seleccions</h1>

  <a th:href="@{/seleccion/add}" class="btn-login">+ Nova Selecció</a>
  <br><br>

  <table class="data-table">
    <thead>
    <tr>
      <th>ID Selecció</th>
      <th>ID Request</th>
      <th>ID Assistent</th>
      <th>Data Proposta</th>
      <th>Accions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="selec : ${seleccions}">
      <td th:text="${selec.idSeleccion}"></td>
      <td th:text="${selec.idRequest}"></td>
      <td th:text="${selec.idAssistent}"></td>
      <td th:text="${selec.dataProposta}"></td>
      <td>
        <a th:href="@{/seleccion/update/{id}(id=${selec.idSeleccion})}">Editar</a> |
        <a th:href="@{/seleccion/delete/{id}(id=${selec.idSeleccion})}"
           onclick="return confirm('Esborrar?');">Esborrar</a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Paginació -->
  <nav aria-label="Navegació de pàgines" class="mt-4" th:if="${totalPages > 1}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage <= 1} ? 'disabled'">
        <a class="page-link px-3 py-2 fw-medium"
           th:href="@{/seleccion/list(page=${currentPage - 1})}"
           tabindex="-1">Anterior</a>
      </li>
      <li class="page-item disabled">
              <span class="page-link px-4 py-2">
                  Pàgina <strong class="text-dark" th:text="${currentPage}"></strong> de <strong class="text-dark" th:text="${totalPages}"></strong>
              </span>
      </li>
      <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled'">
        <a class="page-link px-3 py-2 fw-medium"
           th:href="@{/seleccion/list(page=${currentPage + 1})}">Següent</a>
      </li>
    </ul>
  </nav>

</main>
</body>
</html>