<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inici - Projecte OVI</title>
</head>
<body>
    <h1>Benvingut al Projecte OVI</h1>
    <p>Menú principal de l'aplicació:</p>

    <ul>
        <li><a href="/formador/list">Llista de Formadors</a></li>
        <li><a href="/assistentPersonal/list">Llista d'Assistents Personals</a></li>
        <li><a href="/usuari/list">Llista d'Usuaris OVI</a></li>
        <li><a href="/aprequest/list">Llista de Peticions (AP Request)</a></li>
        <li><a href="/seleccion/list">Llista de Seleccions</a></li>
        <li><a href="/registreContracte/list">Llista de Contractes</a></li>
        <li><a href="/comunicacio/list">Llista de Comunicacions</a></li>
    </ul>
</body>
</html>